@import 'fonts';
@import 'baseColors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  color: $main-black;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.yellow-bold {
  color: $main-yellow;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: $main-black;
}

a.yellow-button {
  font-family: 'quicksand-bold';
  font-size: 1.7rem;
  border: 0;
  background-color: #F6D538;
  padding: 12px 80px;
  color: $light-black;
}

// Grid
.half-column {
  width: 480px;
  display: inline-block;
  text-align: center;
}
