@font-face {
  font-family: 'quicksandregular';
  src: url('../fonts/quicksand-regular.eot');
  src: url('../fonts/quicksand-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/quicksand-regular.woff2') format('woff2'),
       url('../fonts/quicksand-regular.woff') format('woff'),
       url('../fonts/quicksand-regular.ttf') format('truetype'),
       url('../fonts/quicksand-regular.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandbold';
  src: url('../fonts/quicksand-bold.eot');
  src: url('../fonts/quicksand-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/quicksand-bold.woff2') format('woff2'),
       url('../fonts/quicksand-bold.woff') format('woff'),
       url('../fonts/quicksand-bold.ttf') format('truetype'),
       url('../fonts/quicksand-bold.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
