@import 'base';
@import 'ourservices';
@import 'qualifications';
@import 'contact';

#main-site-name {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 120px;
  .name {
    font-size: 7rem;
    font-weight: bold;
  }
  .about {
    font-size: 2.8rem;
    font-weight: lighter;
  }
}

.main-header-bg {
  background: url("/img/main-header-bg.png") no-repeat center 100%;
  height: 400px;
  width: 100%;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.first-message {
  margin-bottom: 90px;
  p {
    font-family: 'quicksandregular';
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 40px;
    .bold, .yellow-bold {
      font-family: 'quicksand-bold';
    }
  }
}

.join-now-btn-container {
  text-align: center;
}
