.qualications {
  font-family: 'quicksandregular';
  margin-bottom: 70px;
  img {
    width: 150px;
  }
  .qualication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .information {
    width: 78%;
    .title {
      font-size: 3.2rem;
      margin-bottom: 8px;
    }
    .info {
      font-size: 2rem;
      color: #919191;
    }
  }
}
